[submodule "cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = v1.2.1
[submodule "cimpoler-meta"]
	path = ext/cimpoler-meta
	url = https://github.com/nabijaczleweli/cimpoler-meta.git
[submodule "whereami-cpp"]
	path = ext/whereami-cpp
	url = https://github.com/nabijaczleweli/whereami-cpp.git
	branch = v1.1.0
[submodule "seed11"]
	path = ext/seed11
	url = https://github.com/milleniumbug/seed11.git
	branch = v1.0.1
[submodule "jsonpp"]
	path = ext/jsonpp
	url = https://github.com/Rapptz/jsonpp.git
[submodule "audiere"]
	path = ext/audiere
	url = https://github.com/nabijaczleweli/audiere.git
	branch = v1.9.4
[submodule "cpp-localiser"]
	path = ext/cpp-localiser
	url = https://github.com/nabijaczleweli/cpp-localiser.git
	branch = v1.0.0
[submodule "zstd"]
	path = ext/zstd
	url = https://github.com/facebook/zstd.git
	branch = v1.0.0
[submodule "cpr"]
	path = ext/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "semver"]
	path = ext/semver
	url = https://github.com/zmarko/semver.git
