[submodule "cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = v1.1.2
[submodule "Cpp-NBT"]
	path = ext/Cpp-NBT
	url = https://github.com/nabijaczleweli/Cpp-NBT.git
[submodule "cimpoler-meta"]
	path = ext/cimpoler-meta
	url = https://github.com/nabijaczleweli/cimpoler-meta.git
[submodule "whereami-cpp"]
	path = ext/whereami-cpp
	url = https://github.com/nabijaczleweli/whereami-cpp.git
	branch = v1.1.0
[submodule "seed11"]
	path = ext/seed11
	url = https://github.com/milleniumbug/seed11.git
	branch = v1.0.1
[submodule "jsonpp"]
	path = ext/jsonpp
	url = https://github.com/Rapptz/jsonpp.git
